

a:hover {
	color: #e5582b;
}

.green_bg {
	background-color: #e5582b;
}

.green_color {
	color: #e5582b;
}

.btn-regular:hover,
.btn-small:hover,
.btn-medium:hover {
	color: #e5582b;
	border-color: #e5582b;
}

.btn-regular.active,
.btn-small.active,
.btn-medium.active {
	color: #e5582b;
	border-color: #e5582b;
}

.btn-fullwidth.dark:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.btn-full-green:hover {
	border-color: #e5582b;
	background: #e5582b;
}

.btn-full-black:hover,
.btn-full-black:focus,
.btn-full-black:active,
.btn-full-black.active {
	border-color: #e5582b;
	background: #e5582b;
}

#uh-cart-trigger:hover {
	background-color: #e5582b;
	border-color: #e5582b;
}

.u-topbar.u-topbar-dark ul.navbar-nav > li > a:hover {
	background: #e5582b;
}

ul.navbar-nav > li > a:hover {
	background: #e5582b;
}

#dark_home ul.navbar-nav > li > a:hover {
	color: #e5582b;
}

#dark_home .uh-search span {
	color: #e5582b;
}

#dark_home .like_shop span {
	background: #e5582b;
}

#dark_home .center_icon_wrapper i {
	color: #e5582b;
}

#dark_home .center_icon_wrapper:hover h5 {
	color: #e5582b;
}

#dark_home .left_icon_wrapper:hover .btn-small {
	background: #e5582b;
}

.u-header-dark span.icon_search {
	color: #e5582b;
}

.header10 .uh-search span {
	color: #e5582b;
}

.header7 .u-header .ut-social a:hover i {
	background: #e5582b;
	border-color: #e5582b;
}

.navbar-default .navbar-nav  > .active  > a,
.navbar-default .navbar-nav  > .active  > a:hover {
	color: #e5582b;
	background: #e5582b;
}

.header-onepage .navbar-nav .active a,
.header-onepage .navbar-nav a:hover {
	background: #e5582b;
}

.navbar-default .navbar-nav  > li  > a:hover,
.navbar-nav  > li.menu-item-has-children:hover:before {
	background: #e5582b;
}

.navbar-nav > li .dropdown-menu > li > a:hover {
	background: #e5582b;
}

.navbar-nav > li .sub-menu ul li a:hover {
	background: #e5582b !important;
}

.navbar-nav > li .sub-menu > li > a:hover {
	background: #e5582b;
}

.uh-search span:hover {
	color: #e5582b;
}

.tp-bullets.simplebullets.round .bullet.selected {
	background: #e5582b !important;
}

.bcrumbs li {
	color: #e5582b;
}

.bcrumbs a:hover {
	color: #e5582b;
}

ul.list.ok_icon_list li:before {
	color: #e5582b;
}

.highlight-color {
	color: #e5582b;
}

div.owl-theme .owl-controls .owl-page.active span {
	background: #e5582b;
}

.service_with_icon:hover i {
	color: #e5582b;
}

.service_with_icon:hover .btn-small {
	background: #e5582b;
}

.service_with_icon:hover h4 {
	color: #e5582b;
}

.service_with_icon:hover .btn_mini_simple {
	color: #e5582b;
}

.service_with_icon:hover .center_divider_icon:before,
.service_with_icon:hover .center_divider_icon:after {
	background: #e5582b;
}

.calltoaction .btn-regular.btn-full-green:hover {
	background: #e5582b;
}

.calltoaction .btn-regular.green {
	background: #e5582b;
}

.content-head .owl-buttons .owl-next:hover {
	background: #e5582b !important;
}

.content-head .owl-buttons .owl-prev:hover {
	background: #e5582b !important;
}

.content-head .owl-buttons .prev2:hover {
	background: #e5582b !important;
}

.content-head .owl-buttons .next2:hover {
	background: #e5582b !important;
}

#dark_home .content-head .right_arrow .owl-next:hover,
#dark_home .content-head .right_arrow .owl-prev:hover {
	background: #e5582b !important;
}

.testimonial_star {
	color: #e5582b;
}

.price_table:hover .hostingtitle h4 {
	background: #e5582b;
}

.price_table .hostingtitle h4 i:nth-child(1) {
	color: #e5582b;
}

.price_table .hostingtitle h4 i:nth-child(2) {
	color: #e5582b;
}

.hostingbutton a {
	background: #e5582b;
}

.price_table.style2:hover a.cart_icon:before {
	background: #e5582b;
}

.pagnav a:hover {
	background: #e5582b;
}

.author_info .icon_wrap a:hover:before {
	background: #e5582b;
}

.fullwidth div.comment h5:hover {
	color: #e5582b;
}

.form_elements input.btn-regular {
	background: #e5582b;
}

.center_social_border.in_post a.green:before {
	background: #e5582b;
}


.team_icon a:hover {
	color: #e5582b;
}

.portfolio_navigation span:hover {
	background: #e5582b;
	border: 1px solid #e5582b;
}

section.like_button span.icon_heart {
	color: #e5582b;
}

section.like_button.with_text .button_wrapper:before {
	background: #e5582b;
}

.upi-overlay span.word {
	color: #e5582b;
}

.upi-overlay span {
	color: #e5582b;
}

.upi-overlay-dark .like_shop span {
	background: #e5582b;
}

.up-item:hover .upi-inner h4 a {
	color: #e5582b;
}

#owl-blog .upi_blog_date span {
	
}

#owl-blog ul.post_info li a:hover,
#owl-blog2 ul.post_info li a:hover {
	color: #e5582b;
}

#owl-blog ul.post_info li a:hover:before,
#owl-blog2 ul.post_info li a:hover:before {
	background: #e5582b;
}

.page-nav ul li a:hover,
.page-nav ul li.active a {
	border: 1px solid #e5582b;
	background: #e5582b;
}

#dark_home .u-clients .content-head .owl-prev:hover,
#dark_home .u-clients .content-head .owl-next:hover {
	background: #e5582b !important;
}

.head-tngl-left1 {
	background: #e5582b;
}

.head-tngl-left2 {
	background: #e5582b;
}

.head-tngl-left3 {
	background: #e5582b;
}

.head-tngl-right1 {
	background: #e5582b;
}

.head-tngl-right2 {
	background: #e5582b;
}

.head-tngl-right3 {
	background: #e5582b;
}

.triangle_one {
	background: none repeat scroll 0 0 #e5582b;
}

.triangle_two {
	background: none repeat scroll 0 0 #e5582b;
}

.triangle_three {
	background: #e5582b;
}

.triangle_four {
	background: #e5582b;
}

.triangle_five {
	background: #e5582b;
}

.triangle_six {
	background: #e5582b;
}

div.background_bg_black .owl-buttons .owl-prev:hover:before {
	color: #e5582b;
}

div.background_bg_black .owl-buttons .owl-next:hover:before {
	color: #e5582b;
}

.owl_navigation_top .owl-next:hover,
.owl_navigation_top .owl-prev:hover {
	background: #e5582b !important;
}

.qutation_info .name {
	color: #e5582b;
}

.about-quote2 {
	background: #e5582b;
}

#owl-quotation .owl-next:hover,
#owl-quotation .owl-prev:hover {
	background: #e5582b;
	
}

.about-quote2 .owl-prev:hover:before,
.about-quote2 .owl-next:hover:before {
	color: #e5582b !important;
}

.quotation_icon.green span {
	background: #e5582b;
}

.triangle-icon.green span {
	background: #e5582b;
}

.center_icon_wrapper:hover h3 {
	background: #e5582b;
}

.center_icon_wrapper:hover h4 {
	color: #e5582b;
}

.center_icon_wrapper:hover h5 {
	color: #e5582b;
}

.center_icon_wrapper:hover .center_box_icon.circle.dark {
	background: #e5582b;
	border-color: #e5582b;
}

.center_icon_wrapper:hover .btn-small {
	background: #e5582b;
	color: #e4e4e4;
}

#dark_home .left_icon_wrapper:hover h4,
#dark_home .left_icon_wrapper:hover i {
	color: #e5582b;
}

h3.center_box_icon.step_circle {
	border: 1px solid #e5582b;
}

h3.center_box_icon.step_circle i {
	color: #e5582b;
}

h3.center_box_icon.step_circle:hover .step_number {
	background: #e5582b;
}

#services-app .center_box_icon.circle {
	border: 1px solid #e5582b;
}

#services-app .col-md-3:hover h3.center_box_icon.step_circle .step_number {
	background: #e5582b;
}

#services-app .col-md-3:hover h5 {
	color: #e5582b;
}

.services_orbit .col-md-3 i {
	color: #e5582b;
}

.center_box_icon.small_circle {
	border: 1px solid #e5582b;
}

.center_box_icon.dark_hover {
	background: #e5582b;
}

.center_box_icon:hover {
	background: #e5582b;
}

.background_bg_black .quotation_icon span {
	background: #e5582b;
}

.skill .bar .value {
	background-color: #172b42;
}

span.counter:hover:before {
	background: #e5582b;
}

span.counter:hover:after {
	background: #e5582b;
}

span.center_icon_border {
	color: #e5582b;
}

.banner .left_section a {
	color: #e5582b;
}

.on_sale:before {
	border-right: 74px solid #e5582b;
}

.product.overlay_content .big_heart {
	color: #e5582b;
}

.product .wrapper .add_to_cart:hover {
	background: #e5582b;
}

.orbutton_section {
	background: #e5582b;
}

.orbutton_section a.one:before {
	border-bottom: 10px solid #e5582b;
}

.orbutton_section a.two:before {
	border-top: 10px solid #e5582b;
}

.orbutton_section.in_dark a {
	background: #e5582b;
	border: 1px solid #e5582b;
}

.orbutton_section.in_dark a:hover {
	border-color: #e5582b !important;
	color: #e5582b;
}

ul.diamond li:before {
	background: none repeat scroll 0 0 #e5582b;
}

ul.diamond1 li:before {
	border: 1px solid #e5582b;
}

ul.list-custom li span {
	color: #e5582b;
}

span.dropcap {
	background: #e5582b;
}

.center_social_border .icon_wrap a:hover:before {
	background: #e5582b;
}

.cd-timeline-content:hover .dcap {
	background: #e5582b;
}

.cd-timeline-content:hover h5 {
	color: #e5582b;
}

.entry {
	color: #e5582b;
}

.entry h1 {
	color: #e5582b;
}

.entry.highlight {
	border-color: #e5582b;
}

.entry.highlight:after {
	background: #e5582b;
}

.ct-ribbon {
	background: none repeat scroll 0 0 #e5582b;
}

.ct-ribbon .ct-triangle {
	border-top: 20px solid #e5582b;
}

.u-services .col-md-4:hover .ct-triangle.two:before {
	border-top-color: #e5582b;
}

.u-services .col-md-4:hover .ct-triangle.two {
	background: #e5582b;
}

.owl-item:hover .ct-triangle.two:before {
	border-top-color: #e5582b;
}

.owl-item:hover .ct-triangle.two {
	background: #e5582b;
}

.cd-timeline-img .left_ribbon {
	background: none repeat scroll 0 0 #e5582b;
}

.cd-timeline-img .left_ribbon .ct-triangle {
	border-color: transparent transparent transparent #e5582b;
}

.cd-timeline-img .right_ribbon {
	background: none repeat scroll 0 0 #e5582b;
}

.cd-timeline-img .right_ribbon .ct-triangle {
	border-color: transparent #e5582b transparent transparent;
}

.cd-timeline-block:hover .cd-timeline-img .right_ribbon .two {
	background: #e5582b;
}

.cd-timeline-block:hover .cd-timeline-img .left_ribbon .two {
	background: #e5582b;
}

.cd-timeline-block:hover .right_ribbon .two:before {
	border-color: transparent #e5582b transparent transparent;
}

.cd-timeline-block:hover .left_ribbon .two:before {
	border-color: transparent transparent transparent #e5582b;
}

.services_dark h5 i {
	color: #e5582b;
}

.service_block:hover span.icon i {
	background: #e5582b;
}

.ci-link {
	color: #e5582b !important;
}

div.plus:after {
	background: none repeat scroll 0% 0% #e5582b;
}

div.prices-monthly-select .btn-lite {
	border: 1px solid #e5582b;
	background: #e5582b;
}

div.prices-monthly-select .btn-dark:hover {
	background: #e5582b;
	border: 1px solid #e5582b;
}

a.btn-regular.green {
	background: #e5582b;
}

.prices-monthly-plan h5 {
	color: #e5582b;
}

#slider-range {
	background: #e5582b;
}

#slider-range .ui-slider-handle {
	background: #e5582b;
}

.product_ad .caption .text {
	background: #e5582b;
}

.widget.categories ul li a:hover:before {
	background: #e5582b;
}

.widget.categories ul li a:hover {
	color: #e5582b;
}

.widget.recent_post ul li a:hover:before {
	background: #e5582b;
}

.widget.tags a:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.widget .twitter_feed li a:hover {
	color: #e5582b;
}

.contact_form2 .btn-regular {
	background: #e5582b;
}

.subscribe_form .submit:hover {
	background: #e5582b;
}

.square-icon-box i {
	color: #e5582b;
}

.square-icon-box:hover:before {
	background: #e5582b;
}

.social_icon_alt2 li:hover a {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.social_icon_alt2 li a:hover {
	background: #e5582b;
}

.product_dropdown select {
	color: #e5582b;
}

.btn-group.bootstrap-select .btn span.filter-option {
	color: #e5582b;
}

div#carousel .flex-direction-nav a:hover {
	background: #e5582b;
}

input.form-control {
	color: #e5582b;
}

.social_icons_heading .icon_wrap a:hover:before {
	background: #e5582b;
}

.product_description .title i {
	color: #e5582b;
}

.product_description .title .price {
	color: #e5582b;
}

.btn_single_addtocart:hover {
	background: #e5582b;
}

.btn_single_addtowhishlist {
	background: #e5582b;
}

#bg-sans .block .flip:before {
	background: #e5582b;
}

#bg-sans .block .flip:after {
	background: #e5582b;
}

.shop_table .product-remove a:hover {
	background: #e5582b;
	border-color: #e5582b;
}

#newsletterform #newslettersubmit:hover {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.cart_total li:hover {
	color: #e5582b;
}

.cart_total li:hover b {
	color: #e5582b;
}

.cart_total li:last-child {
	color: #e5582b !important;
}

.cart_total li:last-child b {
	color: #e5582b !important;
}

footer h5 {
	color: #e5582b;
}

footer .tags a:hover,
.uh-hidden-bar .tags a:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.uf-newsletter input + button {
	background: #e5582b;
}

.footer_post li a:hover {
	color: #e5582b;
}

.footer_post li a:hover:before {
	background: #e5582b;
}

.footer_menu li a:hover {
	color: #e5582b;
}

.about-projects .heart .word {
	color: #e5582b !important;
}

.about-projects .item span em {
	color: #e5582b;
}

.cta-wrap2 .btn-regular:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.post-blockquote p:before {
	color: #e5582b;
}

.post-blockquote p:after {
	color: #e5582b;
}

.post-blockquote .quot-author {
	color: #e5582b;
}

.reply-btn:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.leave-comment button,
#contact-form button {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.blog-grid_2 h4:hover i {
	color: #e5582b;
}

.load-more {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.go-blog:hover {
	border: 1px solid #e5582b;
	background: #e5582b;
}

#accordion h3.ui-state-active:after {
	color: #e5582b;
}

.testimonial_five .testimonial_star {
	color: #e5582b;
}

.blog_carousel-lite ul.post_info li a:hover:before {
	background: #e5582b !important;
}

.blog_carousel-lite .item h4 a:hover i,
.blog_carousel-lite .item h4 a:hover,
.blog_carousel-lite ul.post_info li a:hover {
	color: #e5582b !important;
}

.blog_carousel .item h4 a:hover i,
.blog_carousel .item h4 a:hover,
.blog_carousel .read_more:hover {
	color: #e5582b !important;
}

.blog_carousel #accordion h3.ui-state-active {
	color: #e5582b !important;
	border-color: #e5582b !important;
}

.blog_carousel #accordion h3.ui-state-active i {
	color: #e5582b !important;
}

.blog_carousel-lite #accordion h3.ui-state-active,
#accordion-wrap #accordion h3.ui-state-active,
#accordion-wrap #accordion h3:hover {
	color: #e5582b !important;
}

.blog_carousel-lite #accordion h3.ui-state-active i,
#accordion-wrap #accordion h3.ui-state-active i {
	color: #e5582b !important;
}

.services-app h3 i {
	color: #e5582b;
}

.services-app .col-md-3:hover h3 {
	background: #e5582b !important;
	border-color: #e5582b !important;
}

#services-app4 a {
	color: #e5582b;
}

#services-app3 .col-md-4:hover h5 {
	color: #e5582b;
}

#app-features .media-list li:hover .square-icon-box:before,
#app-feature-dark .media-list li:hover .square-icon-box:before {
	background: #e5582b;
	border-color: #e5582b;
}

.btn-android,
.btn-apple {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.btn-apple:hover {
	border: 1px solid #e5582b;
	background: #e5582b;
}

.quote-style2 .owl-prev:hover:before,
.quote-style2 .owl-next:hover:before {
	color: #e5582b !important;
}

.service-content:hover .number {
	background: #e5582b;
}

.skills-bar:after {
	background: #e5582b;
}

.center-circle-icon {
	border: 1px solid #e5582b;
}

.services-app4 .col-md-4:hover .center-circle-icon {
	background: #e5582b;
}

.services-app4 .col-md-4:hover h5 {
	color: #e5582b;
}

.owl-services-slider .ct-ribbon {
	background: #e5582b;
}

.owl-services-slider .ct-ribbon .ct-triangle {
	border-top: 20px solid #e5582b;
}

.owl-services-slider .owl-item:hover h5 {
	color: #e5582b !important;
}

.owl-services-slider .owl-item:hover .ct-triangle.two:before {
	border-top-color: #e5582b;
}

.owl-services-slider .owl-item:hover .ct-triangle.two {
	background: #e5582b;
}

.owl-services-slider .u-services .col-md-4:hover .ct-triangle.two:before {
	border-top-color: #e5582b;
}

.owl-services-slider .u-services .col-md-4:hover .ct-triangle.two {
	background: #e5582b;
}

#coupon-code button:hover {
	border: 1px solid #e5582b !important;
	background: #e5582b !important;
}

.sort-product .btn-group.bootstrap-select .btn span.filter-option {
	color: #e5582b;
}

#uh-cart-wrapper {
	border-top: 1px solid #e5582b;
}

.uh-cart-wrapper {
	border-top: 1px solid #e5582b;
}

.uh-cart-item .uh-cart-title:hover {
	color: #e5582b;
}

#uh-checkout {
	background: #e5582b;
	border: 1px solid #e5582b;
}

#uh-checkout:hover {
	border-color: #e5582b;
	color: #e5582b;
}

.project-single h4 {
	color: #e5582b;
}

.project-single a {
	color: #e5582b;
}

.dropdown_menu {
	border-top: 2px solid #e5582b !important;
}

.dropdown_menu.fullwidth .title {
	color: #e5582b;
}

.dropdown_menu.fullwidth .diamond li a:hover {
	color: #e5582b !important;
}

.u-header-dark2 .navbar-nav > li a:hover {
	color: #e5582b !important;
}

.index-head7 .dropdown-menu {
	border-top: 2px solid #e5582b !important;
}

.index-head8 .dropdown-menu {
	border-top: 2px solid #e5582b !important;
}

.index-head9 .dropdown_menu {
	border-top: 2px solid #e5582b !important;
}

.index-head9 #uh-cart-wrapper {
	border-top: 1px solid #e5582b;
}

.project-single-inner .ui-accordion-content a {
	color: #e5582b;
}

.uh-hidden-bar h5 {
	color: #e5582b;
}

.mob-header .nav-list em span:hover {
	background: #e5582b;
	border-color: #e5582b;
}

.mob-search h4 {
	color: #e5582b;
}

.ms-inner button:hover {
	background: #e5582b;
}

.slider-btn2:hover,
.slider-btn3:hover {
	background: #e5582b !important;
}

.one_page_nav .active a {
	background: #e5582b !important;
}

#ui-carousel-next:hover,
#ui-carousel-prev:hover {
	color: #e5582b;
}

.blog_carousel-lite1 .upi-inner .read_more:hover {
	color: #e5582b;
}

.menu-download span a {
	background: #e5582b;
}

.menu-newsletter button {
	background: #e5582b;
}

.cbp-spmenu a:hover {
	color: #e5582b;
}

.cbp-spmenu li.current a {
	color: #e5582b;
}

.side-small-menu li.current a {
	color: #e5582b;
}

.ss-inner button:hover {
	background: #e5582b;
}

.upi-overlay {
	background: rgba(229, 88, 43, 0.8);
}

#carousel li.flex-active-slide:before {
	background: rgba(229, 88, 43, 0.8);
}

.bg_overlay {
	background: rgba(229, 88, 43, 0.7);
}